/******************************************************************
Site Name: Honey Template
Author: Vic Lobins

Stylesheet: Base Mobile Stylesheet

******************************************************************/

/*********************
GENERAL STYLES
*********************/

html {
	font-size: 13px;
}

body {
	font-size: 1.15em;
	font-family: 'Proxima Nova';
	line-height: 1.3;
	color: $text-color;
	background-color: $white;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	@media only screen and (min-width: 1800px) {
		font-size: 1.4em;
	}
}

*, *:before, *:after {
	@include box-sizing(border-box);
}

.no-wrap {
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	white-space: nowrap;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	pointer-events: none;
}

/******************************************************************
TEXT STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	margin-top: 0;
	
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-family: 'berthold_walbaum_bookregular';
	font-size: 2em;
	line-height: 1.15em;
	margin-bottom: 0.35em;
	letter-spacing: -3px;
	
	.yellow {
		letter-spacing: -6px;
	}
}

h2, .h2 {
	font-size: 1em;
	line-height: 1.1em;
	margin: 0 0 0.375em;
}

h3, .h3 {
	font-size: 1.5em;
    line-height: 1;
    font-family: 'berthold_walbaum_bookregular';
}

h4, .h4 {
	font-weight: normal;
	font-size: 15px;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	letter-spacing: 2px;
}

p {
	margin: 0.85em 0;
	font-size: 15px;
}

a {
	text-decoration: none;
	color: inherit;
}

/*********************
HEADER STYLES
*********************/

header {
	position: relative;
	width: 100%;
	height: 60px;
	z-index: 999;
	
	&.fixed {
		position: fixed;
		
		&:hover {
			.header {
				top: 0px;
			}
		}
	}
}

.header {
	position: relative;
    padding: .5rem 6rem;
    width: 100%;
    background: #fff;
	z-index: 10;
	@include prefix(box-shadow, 0px 2px 10px -4px rgba(0,0,0,0.3), webkit moz);
	@include transition(all 0.3s ease-in-out);
	
	.fixed & {
		position: absolute;
		top: -60px;
	}
}

.logo {
	display: block;
    width: 5rem;
	margin: 20px auto;
}

.back-btn {
	display: none !important;
//	position: absolute;
//	left: 0;
//	top: 0;
//	border-bottom: 1px solid $yellow;
//	color: $yellow;
//    width: 3rem;
//    font-size: 0.75em;
//    text-align: right;
//	@include transition(all 0.2s ease-in-out);
//	
//	&:hover {
//		left: -5px;
//	}
//	
//	&:after, &:before {
//		content: '';
//		position: absolute;
//		background: $yellow;
//		width: 9px;
//		height: 1px;
//		left: -2px;
//	}
//	
//	&:after {
//		transform: rotate(45deg);
//		bottom: -4px;
//	}
//	
//	&:before {
//		transform: rotate(-45deg);
//		bottom: 2px;
//	}
}

/*********************
NAVIGATION STYLES
*********************/

nav.main {
	width: 100%;
    margin: .5rem 0;
    padding: 0;
	
	> ul {
		font-size: 0;
		
		> li {
			position: relative;
			margin: 10px 0;
			font-size: 1.5rem;
			vertical-align: bottom;
			
			&:last-child {
				padding-right: 0;
				margin-right: 0;
			}
			
			a {
				position: relative;
				display: block;
				font-size: 0.75em;
				text-align: center;
				outline: none;
				cursor: pointer;
				@include transition(all 0.2s ease-in-out);
				
				&:hover, &:focus, &.active {
					color: $yellow;
					border-color: $yellow;
				}
			}
			
			&:hover {
				ul.sub-menu {
					opacity: 1;
					max-height: 300px;
				}
			}
		}
	}
}

/*********************
CONTENT STYLES
*********************/

.wrapper {
	position: relative;
	background: $white;
	width: 100%;
	margin: 0 auto;
	padding: 0 2rem 4rem;
	
	&.focus, .home & {
		padding: 0 50px;
	}
}

.section {
	outline: none !important;
	border: none !important;
	
	&.text-panels {
		background: none;
		padding: 0;
	}
	
	.panel {
		padding: 3rem;
		margin: 15px;
		
		&.light-grey {
			background: rgba(65,64,66,0.05);
		}
		
		&.dark-grey {
			background: #3c3c3a;
		}
		
		&.med-grey {
			background: rgba(65,64,66,0.30);
			
			h1.xl {
				position: relative;
				color: $charcoal;
				display: inline-block;
				border-right: 2px solid #fff;
				font-size: 12em;
    			padding: 35px;
				margin-bottom: 0;
				
				span:first-child {
					position: absolute;
					font-size: 16px;
					letter-spacing: 0;
					font-family: "proxima-nova",sans-serif;
					left: 0;
					bottom: 17px;
					height: 20px;
					width: 100%;
					line-height: 0;
				}
				
				&:last-child {
					border-right: none;
				}
				
				.strikethrough {
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					transform: rotate(45deg);
					
					span {
						position: absolute;
						width: 0;
						height: 8px;
						background: $yellow;
						top: 50%;
						left: 0;
					}
				}
			}
		}
		
		&.num-animate {
			padding: 60px 35px;
			min-height: 0;
			text-align: center;
		}
		
		h2 span {
			margin-bottom: 30px;
		}
		
		.fade-animate {
			display: block;
			opacity: 0;
		}
	}
	
	&.slick-initialized {
		.slick-slide {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			height: calc(100vh - 100px);
			@include prefix(align-items, center, webkit moz ms);
			@include prefix(align-content, center, webkit moz ms);
			@include prefix(justify-content, center, webkit moz ms);
			@include prefix(flex-wrap, wrap, webkit moz ms);
			
			.home & {
				height: calc(100vh - 100px);
			}
			
			.col-4 {
				width: 26%;
			}
			
			.col-6 {
				width: 40%;
			}
			
			.col-12 {
				height: 100%;
				width: auto;
				align-items: center;
   				display: flex;
				
				&.half {
					height: 50%;
				}
				
				img, video {
					width: auto;
					max-height: 100%;
					top: auto;
					left: auto;
				}
			}
		}
	}
	
	.slick-slide {
		outline: none !important;
	}
	
	&.single {
		height: calc(100vh - 70px);
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		@include prefix(align-items, center, webkit moz ms);
		@include prefix(align-content, center, webkit moz ms);
		@include prefix(justify-content, center, webkit moz ms);
		@include prefix(flex-wrap, wrap, webkit moz ms);
		
		.col-4 {
			width: 28%;
		}
		
		.col-6 {
			width: 44%;
		}
		
		.col-12 {
			height: 100%;
			width: auto;
			
			img {
				width: auto;
				max-height: 100%;
			}
		}
	}
}

.flex {
	display: inline-block;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	@include prefix(flex-direction, column, webkit ms);
	@include prefix(justify-content, space-around, webkit ms);
	padding: 0;
	line-height: 30px;

	.flex-panel {
		display: inline-block;
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
		@include prefix(flex, 1 1 auto, webkit ms);
		@include prefix(justify-content, center, webkit ms);
		@include prefix(align-items, center, webkit ms);
		width: 100%;
		
		&:before {
			content:'';
			float:left;
			padding-top:90%;
		}
	}
}

.client-list {
	font-size: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	@include prefix(flex-wrap, wrap, webkit ms);
	
	li {
		width: 100%;
		position: relative;
		font-size: 1rem;
		display: inline-block;
		border-bottom: 1px solid $charcoal;
		@include transition(all 0.3s ease-in-out);
		
		&.show {
			transform: scale(1);
			visibility: visible;
			opacity: 1;
			width: 100%;
			height: 100%;
		}
		
		&.hide {
			transform: scale(0);
			visibility: hidden;
			opacity: 0;
			width: 0%;
			height: 0%;
			float: none;
			padding: 0;
			font-size: 0;
		}
		
		img {
			filter: grayscale(1);
			transform: scale(0.95);
			opacity: 0.8;
			padding: 1.6rem;
			@include transition(all 0.3s ease-in-out);
		}
		
		&:hover, &:focus {
			img {
				opacity: 1;
				filter: grayscale(0);
				transform: scale(1);
			}
		}
		
		&.combined {
			cursor: pointer;
			
			&:hover, &:focus {
				.sub {
					opacity: 1;
					visibility: visible;
				}

				img {
					opacity: 0.4;
				}
			}
		}
	}
	
	.sub {
		@extend .flex;
		@include prefix(falign-items, center, webkit ms);
		@include prefix(flex-direction, column, webkit ms);
		@include prefix(justify-content, center, webkit ms);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $white;
		opacity: 0;
		visibility: hidden;
		@include transition(all 0.3s ease-in-out);
		
		.sub-item {
			display: block;
			font-size: 0.75em;
			width: 100%;
			height: 1.5rem;
    		line-height: 1.5rem;
			background: rgba(255,255,255,0.8);
			margin: 5px 0;
			text-align: center;
			position: relative;
			@include transition(color 0.14s ease-in-out);
			
			&:after {
				content: '';
				display: block;
				background: $yellow;
				height: 2px;
				width: 70%;
				position: absolute;
				left: 15%;
				bottom: -0.35em;
			}
			
			&:last-child:after {
				display: none;
			}
			
			&:hover {
				color: $yellow;
			}
		}
	}
}

.slick-dots {
	text-align: center;
    position: fixed;
    bottom: 10px;
    transform: translate(-50%);
    left: 50%;
	margin: 0;
	
	li {
		display: inline-block;
		font-size: 0;
		line-height: 0;
		
		&.slick-active, &:hover {
			button {
				background: $yellow;
			}
		}
		
		button {
			font-size: 0;
			outline: none;
			border: none;
			background: $charcoal;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			line-height: 0;
			padding: 0;
			margin: 0 5px;
			@include transition(background 0.3s ease-in-out);
		}
	}
}

.slick-arrow {
	position: absolute;
	font-size: 0;
	line-height: 0;
	top: 50%;
	margin-top: -23px;
    width: 25px;
    height: 47px;
	padding: 0;
    border: none;
	z-index: 20;
	border: none;
	outline: none;
	background: none;
	
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		margin-top: -12px;
		background-image: url(../images/slider-arrows.png);
		background-color: transparent;
		background-repeat: no-repeat;
		background-size: 25px;
		width: 13px;
		height: 24px;
		@include transition(all 0.2s ease-in-out);
	}
}

.slick-next {
	right: -30px;
	
	&:before {
		left: 0;
		background-position: -12px 0;
	}
	
	&:hover:before {
		left: 8px;
	}
}

.slick-prev {
	left: -30px;
	
	&:before {
		right: 0;
		background-position: 0 0;
	}
	
	&:hover:before {
		right: 8px;
	}
}

.cycler {
	position: relative;
	
	.active {
		position: relative;
		z-index: 3;
	}
	
	img:not(.active) {
		position: absolute;
		top: 15px;
		left: 15px;
		width: calc(100% - 30px) !important;
		height: auto !important;
		z-index: 1;
	}
	
	.inner & {
		img:not(.active) {
			top: 0;
			left: 50%;
			width: 100%;
			transform: translate(-50%,0);
		}
	}
}

.row {
	.left .top {
		position: relative;
		
		&:before {
			content: '';
			position: absolute;
			background: url(../images/about/divider3.png) no-repeat center;
			background-size: cover;
			width: 210px;
			height: 3px;
			margin: 0;
			right: -39px;
			top: 97px;
		}
		
		&:after {
			content: '';
			position: absolute;
			background: url(../images/about/divider1.png) no-repeat center;
			background-size: contain;
			width: 50%;
    		height: 40px;
			transform: translate(-50%,0);
			left: 50%;
    		bottom: -14px;
		}
	}
	
	.left .second, .right .second {
		position: relative;
		
		&:after {
			content: '';
			position: absolute;
			background: url(../images/about/divider2.png) no-repeat center;
			background-size: contain;
			width: 10px;
			height: 32px;
			margin-left: -5px;
			left: 50%;
			bottom: -11px;
		}
	}
	
	.inner {
		margin-bottom: 7px;
		
		&.no-margin {
			margin-bottom: 0;
		}
		
		p {
			text-align: center;
			color: $charcoal;
		}
	}
	
	img {
		max-width: 260px;
		width: 100%;
		margin: 0 auto;
	}
}

hr {
	margin: 15px auto;
    max-width: 250px;
    border: none;
    height: 2px;
    background: $yellow;
	
	&.dotted {
		border-top-style: dashed;
		border-top-width: 1px;
		border-color: lighten($yellow, 15%);
		height: 0;
		background: none;
	}
}

.video-wrapper {
	position: relative;
	
	.audio_btn {
		display: none;
		position: absolute;
		bottom: 43px;
		right: 33px;
		z-index: 9999;
		background: url(../images/Speaker_Icon.svg) no-repeat 0 0;
		width: 25px;
		height: 25px;
		background-size: 25px;
		padding: 0;
		border: none;
		outline: none;
		
		&.is-muted {
			width: 15px;
			right: 43px;
		}
	}
	
	.play_btn {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		padding: 0;
		margin: 0;
		z-index: 999;
		cursor: pointer;
		background: transparent;
    	border: none;
		outline: none;
		
		.btn-inner {
			display: none !important;
			position: relative;
			height: 110px;
    		width: 110px;
			vertical-align: middle;
			margin: auto;
			
			span {
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				position: absolute;
				border: 2px solid $yellow;
				border-radius: 50%;
				opacity: .54;
				-webkit-transform: scale(1) translateZ(0);
				transform: scale(1) translateZ(0);
				@include transition(all 0.3s ease-in-out);
			}
			
			svg {
				position: relative;
				vertical-align: middle;
				left: 1px;
				top: 43px;
				width: 14px;
				height: 17px;
				display: inline-block;
				fill: $yellow;
			}
		}
		
		&:hover, &:focus {
			.btn-inner span {
				opacity: 1;
				-webkit-transform: scale(1.2) translateZ(0);
				transform: scale(1.2) translateZ(0);
			}
		}
		
		.controls {
			width: 30px;
			height: 30px;
			padding: 8px;
			position: absolute;
			bottom: 39px;
			left: 23px;
			
			svg {
				width: 100%;
				height: 100%;
				fill: $yellow;
			}
		}
		
		&.is-paused {
			.controls .video__play {
				display: block;
			}
			.controls .video__pause {
				display: none;
			}
		}
		
		&.is-playing {
			.controls .video__play {
				display: none;
			}
			.controls .video__pause {
				display: block;
			}
		}
	}
	
	video {
		width: 100%;
		height: auto;
	}
	
	.timeBar {
		position: absolute;
		bottom: 20px;
    	left: 15px;
		width: 0;
		height: 6px;
		background-color: $yellow;
	}
}

.aspect-ratio {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 53%;
	margin: 5px 0;
	
	iframe {
		position: absolute;
		width: calc(100% - 10px);
		height: 100%;
		left: 5px;
		top: 0;
	}
	
	&.vimeo {
		padding-bottom: 57%;
		
		iframe {
			width: 100%;
			left: 0;
		}
	}
}

.page {
	width: 100vw;
	height: 100vh;
	display: flex;
}

.page-process {
	
	.carousel {
		width: 100vw;
		height: 100%;
		display: flex;
		position: absolute;
		left: 0vw;

		section {
			display: inline-block;
			position: relative;
			width: 100%;
			height: 100%;
			padding: 4vw;
			overflow: hidden;
			
			.left {
				float: left;
				width: 25%;
				margin-top: 20px;
			}
			
			.right {
				float: right;
				width: 75%;
				margin-top: 20px;
			}
			
			h1, h2 {
				font-family: 'berthold_walbaum_bookregular';
				font-size: 3.2vw;
				margin: 0;
				color: $black;
			}
			
			h2 {
				font-size: 2.5vw;
			}
			
			p {
				font-size: 14px;
				font-size: 1vw;
			}
			
			ul {
				margin: 20px 0;
				max-width: 50vw;
				padding-left: 17px;
				
				li {
					margin: 6px 0;
					font-size: 14px;
					font-size: 1vw;
					position: relative;
					padding-left: 10px;
					list-style-type: disc;
				}
			}
			
			h1, h2, ul, p {
				position: relative;
				left: -30px;
				@include transition(all 0.85s ease-in-out);
			}
			
			&.active {
				h1, h2, ul, p {
					left: 0;
					opacity: 1;
				}
			}
		}
	}
	
	.step-nav {
		position: absolute;
		width: 90%;
		text-align: center;
		bottom: 30px;
		z-index: 999;
		margin: 0 5%;
		
		li {
			width: 50px;
			max-width: 50px;
			height: 5px;
			background: #ccc;
			display: inline-block;
			margin: 5px 3px;
			cursor: pointer;
			
			&.active {
				background: #00cc18;
			}
		}
	}
}

.tips {
	position: relative;
	
	h1 {
		position: absolute;
		top: 90px;
		left: 90px;
		color: #fff;
		font-size: 3.5em;
		padding-left: 50px;
		
		span {
			position: absolute;
    		left: 0;
		}
	}
	
	&:after {
		position: absolute;
		bottom: 50px;
		right: 50px;
		background: url(../images/tips/yellow-corner.png) no-repeat 0 0;
		width: 77px;
		height: 230px;
	}
}

/*********************
FOOTER STYLES
*********************/

.footer {
	
}

.copyright {
	
}